{% extends 'base.html' %}

{% block title %}Not Found{% endblock %}

{% block content %}
<p>We couldn't find what you were looking for!</p>
<p><a href="{{ url_for('index') }}">Go home.</a></p>
{% endblock %}
