{% extends 'base.html' %}

{% block title %}Edit completed at{% endblock %}

{% block content %}
<h1>Edit completed at</h1>
<form method="POST" action="{{ url_for('completion', completion_id=completion.id) }}">
  {{ form.completed_at.label }}
  {{ form.completed_at() }}
  {{ form.csrf_token }}
  <p><button>Save</button></p>
</form>
<form method="POST" action="{{ url_for('delete_completion', completion_id=completion.id) }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button class="warning">Delete</button>
</form>
{% endblock %}
