{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
<p><a href="{{ url_for('create_task') }}">New task</a></p>
<h1>Tasks</h1>
{% for task in tasks %}
  <section class="task">
    <div>
      {{ task.description }}
      {% if task.last_completed %}
      - last completed
      <details title="{{ task.last_completed.isoformat() }}">
        <summary>{{ task.last_completed_ago }}</summary>
        <small>({{ task.last_completed.isoformat() }})</small>
      </details>
      {% endif %}
    </div>
    <div class="task-actions">
      <p><a href="{{ url_for('task', task_id=task.id) }}">Edit</a></p>
      <form method="POST" action="{{ url_for('complete_task', task_id=task.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button>Complete</button>
      </form>
    </div>
  </section>
{% else %}
  <p>No tasks yet!</p>
{% endfor %}
{% endblock %}
