{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('login') }}">
  {{ form.username.label }}
  {{ form.username() }}
  {{ form.password.label }}
  {{ form.password() }}
  {{ form.csrf_token }}
  <p><button>Log in</button></p>
</form>
{% endblock %}
