{% extends 'base.html' %}

{% block title %}Create Task{% endblock %}

{% block content %}
<h1>Create task</h1>
<form method="POST" action="{{ url_for('create_task') }}">
  {{ form.description.label }}
  {{ form.description() }}
  {{ form.csrf_token }}
  <p><button>Create Task</button></p>
</form>
{% endblock %}
