{% extends 'base.html' %}

{% block title %}{{ task.description }}{% endblock %}

{% block content %}
<h1>Edit task</h1>
<form method="POST" action="{{ url_for('task', task_id=task.id) }}">
  {{ form.description.label }}
  {{ form.description() }}
  {{ form.csrf_token }}
  <p><button>Save</button></p>
</form>
<form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button class="warning">Delete task</button>
</form>
<hr>
<h2>Completed</h2>
{% for completion in completions %}
<section class="task">
  <p>Completed {{ completion.completed_at.isoformat() }}</p>
  <div class="task-actions">
    <p><a href="{{ url_for('completion', completion_id=completion.id) }}">Edit</a></p>
  </div>
</section>
{% else %}
<p>Not completed yet!</p>
{% endfor %}
{% endblock %}
